{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Menu Principal</h2>
    <div class="d-grid gap-3 col-6 mx-auto mt-4">

{#        <a href="{% url 'estoque:home' %}" class="btn btn-primary btn-lg">Estoque</a>#}
{##}
{#        <a href="{% url 'vinculos:informar_cpf' %}" class="btn btn-primary btn-lg">Vínculo</a>#}
{##}
{#        <a href="{% url 'cliente:lista' %}" class="btn btn-primary btn-lg">Clientes</a>#}
{##}
        <a href="{% url 'catalogo:listar_catalogo' %}" class="btn btn-primary btn-lg">Catálogo</a>
{##}
{#        <a href="{% url 'vendas:dashboard' %}" class="btn btn-primary btn-lg">Vendas</a>#}

    </div>
</div>
{% endblock %}
