{% extends 'base.html' %}

{% block title %}Seleção de Acesso{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h2 class="mb-4">Selecione o tipo de acesso</h2>
        <div class="d-grid gap-3 col-12 col-md-6 mx-auto">
            <a href="{% url 'autenticacao:login' %}" class="btn btn-primary btn-lg">Cliente</a>
            <a href="{% url 'autenticacao:login_funcionario' %}" class="btn btn-secondary btn-lg">Funcionário</a>
        </div>
    </div>
</div>
{% endblock %}
